In [1]:
import pandas as pd

In [6]:
dfMovies = pd.read_json(f'http://127.0.0.1:8000/movies')
dfMovies.set_index('id',inplace = True)
dfMovies

                                 title  year  duration
id
5257                         Excuse Me  1915      50.0
6366                Anton the Terrible  1916      50.0
8351   The Mysterious Mrs. Musslewhite  1917      50.0
8384                      On the Level  1917      50.0
8642                  The Sunset Trail  1917      50.0
...                                ...   ...       ...
19699                  The Black Watch  1929      93.0
19702                        Blackmail  1929      85.0
19895                 The Forward Pass  1929      78.0
19978              Her Husband's Women  1929      18.0
20142                      The Manxman  1929     110.0

[100 rows x 3 columns]

In [1]:
response = requests.get("http://127.0.0.1:8000/stars/stat_movie_by_director/?min_count=15")
response

NameError: name 'requests' is not defined