In [1]:
import pandas as pd
from database import engine

In [4]:
data = pd.read_sql_table('movies',con=engine)
data['genres'].head()

0     Comedy
1      Drama
2      Drama
3    Western
4      Drama
Name: genres, dtype: object

In [5]:
stat = data[['duration','genres']].groupby(by='genres').agg(['min', 'max', 'mean'])

In [6]:
stat

                                                   duration
                                                        min    max        mean
genres
Action                                                 95.0   95.0   95.000000
Action,Adventure                                       88.0  164.0  115.416667
Action,Adventure,Comedy                                89.0   95.0   92.000000
Action,Adventure,Comedy,Crime                          94.0   94.0   94.000000
Action,Adventure,Comedy,Crime,Fantasy,Horror,Th...    157.0  157.0  157.000000
...                                                     ...    ...         ...
Sport                                                 352.0  352.0  352.000000
Thriller                                               73.0  116.0   94.250000
Thriller,War                                          109.0  109.0  109.000000
Western                                                50.0  164.0   94.136364
https://m.media-amazon.com/images/M/MV5BNTQwNDM...    109.0  109.0  109.000000

[459 rows x 3 columns]